<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RE-vue</title>
    <style>
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        #app {
            width: 100%;
            height: 100vh;
            background-color: antiquewhite;
        }
        .nav{
            width: 300px;
            height: 150px;
            font-size: 20px;
            border: 1px solid black;
            margin-bottom: 30px;
            background-color: gray;
        }

        .container{
            display: flex;
            flex-wrap: wrap;
        }
        .card{
            width: 200px;
            height: 350px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;         
            border: 1px solid black; 
        }
        img {
            width: 180px;
        }
        .male {
            background-color: aquamarine;
        }
        .female {
            background-color: pink;
        }

    </style>
</head>
<body> 
    <div id="app">
        {{ data }}
        <div class="add nav">
            <!-- 用v-model 跟 newData裡面的資料做連結 -->
            <div class="name">
                <label for="add-name">姓名: </label>
                <input v-model="newData.name" id="add-name" type="text">
            </div>
            <div class="age">
                <label for="add-age">年齡: </label>
                <input v-model="newData.age" id="add-age" type="number">
            </div>
            <div class="gender">
                <label for="add-name">性別: </label>
                <select v-model="newData.gender" id="add-name">
                    <option value="male">乾道</option>
                    <option value="female">坤道</option>
                </select>
            </div>
            <div class="power">
                <label for="add-power">戰力: </label>
                <input v-model="newData.power" id="add-power" type="number">
            </div>
            <button type="button" @click="addItem()">新增資料</button>

        </div>
        <div class="container">
            <!-- v-blind:class 綁定 item.gender 根據性別添加新的class -->
            <div v-for="(item,index) in data" :key="item.id"
            class="card" v-bind:class="{ 'male': item.gender === 'male', 'female': item.gender === 'female'}">
                <div class="rank">第{{ index + 1 }}名</div>
                <div class="id">序號: {{ item.id }}</div>
                <div class="name">姓名:{{ item.name }}</div>
                <div class="age">年齡:{{ item.age }}</div>
                <div class="gender">性別:{{ genderChange(item.gender) }}</div>
                <div class="power">能力值:{{ item.power}}</div>



                
                <!-- 最簡單的做法，點擊一次增加戰力 1000 -->
                <!-- <button @click="item.power += 1000" type="button">增加戰力</button> -->


                <!-- 用函數的方式做點擊事件 -->
                <!-- <button @click="addPower(item)" type="button">增加戰力</button> -->


                <!-- Vue 判斷 v-if -->
                <img v-if="item.power >= 50000" 
                :src="image.fiveStep" alt="">
                <img v-else-if="item.power >= 10000" 
                :src="image.fourStep" alt="">
                <img v-else-if="item.power >= 1000" 
                :src="image.thirdStep" alt="">
                <img v-else-if="item.power >= 100" 
                :src="image.secondStep" alt="">
                <img v-else :src="image.firstStep" alt="">
            </div>
        </div>
        
    </div>

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    newData: {
                        name: '',
                        age: '',
                        gender: 'male',
                        power: '',
                    },
                    data: [
                        {   
                            id: 1,
                            name: '曉華',
                            age: 28,
                            gender: 'female',
                            power: 50,
                        },
                        {   
                            id: 2,
                            name: '柔宣',
                            age: 29,
                            gender: 'female',
                            power: 5000,
                        },
                        {
                            id: 3,
                            name: '龍天君',
                            age: 30,
                            gender: 'male',
                            power: 10000,
                        },
                        {
                            id: 4,
                            name: '天琉璃',
                            age: 20000,
                            gender: 'female',
                            power: 60000,
                        },
                    ],
                    image:{
                        firstStep: './img/練體.jpg',
                        secondStep: './img/練氣.jpg',
                        thirdStep: './img/築基.jpg',
                        fourStep: './img/金丹.jpg',
                        fiveStep: './img/元嬰.jpg'
                    }
                }
                console.log()
            },
            // 監視data內的變數變化
            watch: {
                // data() 內的 data
                data: {
                    // 發生變化的時候要做什麼事
                    handler: function(){
                        // 要做的事
                        this.data.sort((a, b) => {
                            return b.power - a.power
                        })
                    },
                    // 有所變化才會觸發
                    immediate: true,
                    // 可以監視到物件內更深層的值
                    deep: true,
                },
            },
            // 存放function
            methods: {
                genderChange(gender){
                    if(gender === 'male'){
                        return '乾道';
                    }else{
                        return '坤道';
                    }
                },
                addPower(item){
                    item.power += 1000;
                },
                addItem(){

                    // 確認欄位有無填寫
                    // 原本newData.name = '' 為空值，代表null,false，所以用!newData翻轉為true，因次if裡面為當我沒有輸入內容時，會出現....
                    if(!this.newData.name || !this.newData.age || !this.newData.gender || !this.newData.power){
                        // 沒有填寫的時候會跳出來
                        alert('請輸入完整內容')
                    }
                    else {
                        this.newData.id = this.data.length + 1;
                        // 使用this去撈取到data的資料
                        // 並再次使用this撈到newData
                        this.data.push(this.newData)
                        this.newData = {
                            name: '',
                            age: '',
                            gender: 'male',
                            power: '',
                        }
                    }
                }  
            },
        }).mount('#app')
        

        
    </script>

</body>
</html>